body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
}

.hero {
  margin-top: 100px;
}

.cafunfo {
  color: #22c55e;
  font-size: 60px;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 40px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.card:hover {
  background: #22c55e;
  color: black;
}
